{{!
{
	"resources": {
		"Fauntleroy": "https://hipster-api.herokuapp.com/v1/preview/resources/1f250788d9b247aa8aa13d058e525c66",
		"UUUGUUUUUUUU": "https://hipster-api.herokuapp.com/v1/preview/resources/bd66f7a3f1ba4d2a866539182905a435",
		"RhubarbVole": "https://hipster-api.herokuapp.com/v1/preview/resources/fe495a6c4ccc432d867d6baf595af035",
		"VoodooFrodo": "https://hipster-api.herokuapp.com/v1/preview/resources/581aec0715574dfa9017c17f44def58a"
	},
	"preprocessor": "index.js"
}
}}

<blockquote>Hello and welcome to Tim's Diablo website! It's so cool!</blockquote>

<div id="characters">

<h2><i class="efon excite">@</i> Characters <i class="efon excite">Z</i></h2>

<ul class="characters listing">
{{#resources.characters}}<li data-id="{{id}}">
	<h3 class="name">{{name}}</h3>
	<sub class="class">{{class}}</sub>
	<var class="level">{{level}}</var>
	<ul class="items">
		{{#items_array}}
		<li data-id="{{id}}" class="{{type}}">
			<img src="http://media.blizzard.com/d3/icons/items/large/{{icon}}.png" />
			<h4>{{name}}</h4>
		</li>
		{{/items_array}}
	</ul>
</li>{{/resources.characters}}
</ul>