<div id="profile">
	<img class="avatar" src="{{avatar_url}}" /><br />
	{{full_name}} is a {{plan}} user from {{city}}, {{country}}. {{#if website}}He has a website at <a href="{{website}}">{{website}}</a>{{/if}}. He follows <var>{{followings_count}}</var> users and <var>{{followers_count}}</var> users follow him. He is currently {{#if online}}<strong>online</strong>{{else}}<em>offline</em>{{/if}}
</div>